.content {
    line-height: 1.8;
    font-size: 15px;
    p {
        word-wrap: break-word;
    }

    p,
    li {
        a {
            color: @accentColor;
            border-bottom: 1px dotted lighten(@accentColor, 20%);
            word-break: break-all;

            &:hover,
            &:active {
                text-decoration: none;
                border-bottom-style: solid;
                opacity: 0.7;
            }
        }
    }

    strong {
        font-weight: 600;
        color: @primaryColor;
        a {
            border-color: @accentColor;
        }
    }

    em {
        color: @secondaryTextColor;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        padding-top: @headerH;
        margin-top: @headerH * -1;
    }

    h1,
    h2,
    h3,
    h4,
    blockquote,
    ol,
    p,
    pre,
    table,
    ul,
    figure {
        margin-bottom: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: @primaryColor;
        text-transform: capitalize;
        .header-anchor {
            margin-left: -1em;
            padding-right: 4px;
            color: @lightPrimaryColor;
            opacity: 0;
            &:hover {
                text-decoration: underline
            }
        }
        &:hover {
            .header-anchor {
                opacity: 1;
            }
        }
    }

    blockquote p:first-child,
    blockquote:first-child,
    ol:first-child,
    p:first-child,
    pre:first-child,
    table:first-child,
    ul:first-child,
    figure:first-child {
        margin-top: 0;
    }

    ol,
    ul {
        font-size: 14px;
        line-height: 30px;
    }

    video,
    audio {
        max-width: 100%;
    }

    blockquote {
        position: relative;
        padding: 16px 20px;
        border-left: 4px solid @primaryColor;
        color: lighten(@primaryTextColor, 30%);
        background: @backColor;
        font-size: 14px;
        border-radius: 0 2px 2px 0;

        p {
            margin: 0;
        }

        footer {
            margin-top: 10px;
            text-align: right;
            font-size: 80%;
        }
    }

    table {
        width: 100%;
        border: 1px solid #dedede;
        margin: 15px 0;
        border-collapse: collapse;

        tr,
        td {
            height: 35px;
        }

        thead {
            tr {
                background: #f8f8f8;
            }
        }

        tbody {
            tr {
                &:hover {
                    background: #efefef;
                }
            }
        }

        td,
        th {
            border: 1px solid #dedede;
            padding: 0 10px;
        }
    }

    figure {
        table {
            border: none;
            width: auto;
            margin: 0;

            tbody {
                tr {
                    &:hover {
                        background: none;
                    }
                }

                td {
                    border: none;
                }
            }
        }
    }

    code {
        background: @codeBg;
    }

    p code,
    li code {
        color: lighten(@primaryTextColor, 10%);
        line-height: 1;
        margin: 0 4px;
        font-size: 80%;
        padding: 4px 8px;
        border-radius: 2px;
        word-wrap: break-word;
    }

    pre, pre[class*="language-"] {
        position: relative;
        margin: 24px 0;
        padding: 20px 24px;
        line-height: 1.6;
        white-space: pre-wrap;
        word-break: break-word;
        border-radius: 6px;

        code {
            border-radius: 0;
            font-size: inherit;
            margin: 0;
            padding: 0;
            background: transparent
        }

        &:before {
            position: absolute;
            top: 0.8em;
            right: 1em;
            font-size: 12px;
            color: rgba(255, 255, 255, 0.4);
        }
    }

    .highlighted-line {
        background-color: rgba(0, 0, 0, 66%);
        display: block;
        margin: 0 -1.5rem;
        padding: 0 1.5rem;
    }


}

// code-lang(lang, lang2 = false)
//   pre.language-js:before
//       content: lang
  // if lang2
  //   pre.language-js:before
  //     content: lang


// code-lang('js', 'javascript')
// code-lang('html', 'markup')
// code-lang('md', 'markdown')
// code-lang('vue')
// code-lang('css')
// code-lang('less')
// code-lang('sass')
// code-lang('scss')
// code-lang('stylus')
// code-lang('jsx')
// code-lang('typescript')
// code-lang('json')
// code-lang('yaml')
// code-lang('bash')
// code-lang('c')
// code-lang('java')
// code-lang('kotlin')
// code-lang('python')
// code-lang('csharp')
// code-lang('go')
// code-lang('sql')


