$body-font-family = -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,"PingFang SC", "Hiragino Sans GB","Microsoft YaHei",SimSun,sans-serif
$font-size-root = 14px
$line-height-root = 1.5

$grid-breakpoints = {
  xs: 0
  sm: 600px
  md: 800px
  lg: 1040px
  xl: 1600px
}

$primary-color = #3F51B5
$light-primary-color = lighten($primary-color, 50%)
$content-color = #424242
$content-tip-color = #4caf50
$content-warning-color = #FF9800
$content-danger-color = #ff5722
