html
  overflow-y: auto

img
  max-width 100%

ol.reset,
ul.reset
  list-style none
  li
    list-style none

a
  text-decoration: inherit

.application--wrap
  background $body-background

.blog-container
  max-width $container-max-width!important
  min-height: calc(100vh - 56px - 122px)

.title,
.headline,
.subheading,
.capitalize
  text-transform: capitalize

.fake-hide
  position: absolute;
  top: -9999px;
  right: -9999px;
  z-index: -1;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  opacity: 0;

.blog-progress.progress-linear
  position fixed
  top 0
  left 0
  right 0
  z-index 9999
  margin 0
  background: #fff
